@import url('https://fonts.googleapis.com/css2?family=Esteban&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainContainer {
    width: 100vw;
    height: 100vh;
    font-family: "kalam-variable";
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 1s ease;
}

@font-face {
   font-family: "kalam-variable";
   src: url('./assets/fonts/Kalam-Variable.woff2');
   font-weight: 700;
  font-display: swap;
  font-style: normal;
  }

.quoteBox {
    position: relative;
    height: 250px;
    background-color: #fff;
    border-radius: 5px;
}

.nameBox {
    max-width: 700px;
    min-width: 550px;
    height: 50px;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

.quotes {
    min-width: 100px;
    height: 120px;
    margin:10px ;
    text-align: center;
    transition: color 2s ease;
}

.quotes h2{
    padding-top: 10px;
}
.author {
    position: absolute;
    right: 2em;
    top: 6em;
    height: 50px;
}

.clickBox {
    position: absolute;
    right: 2em;
    top: 9em;
}

.clickBox button {
    padding: 10px;
    font-size: 15px;
    color: #fff;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
